@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Noto+Sans+JP:wght@100&family=Sawarabi+Mincho&display=swap');
*{
  font-family: 'Josefin Sans','Noto Sans JP', sans-serif;
  // font-family: 'Sawarabi Mincho', serif;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f4f5f7;
}
.full-page {
  height: 100%;
  background: #f4f5f7;
}
