@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Noto+Sans+JP:wght@100&family=Sawarabi+Mincho&display=swap');
*{
  font-family: 'Josefin Sans','Noto Sans JP', sans-serif;
  // font-family: 'Sawarabi Mincho', serif;
}
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f4f5f7;
}
#splash {
  /*fixedで全面に固定*/
position: fixed;
width: 100%;
height: 100%;
z-index: 999;
background:#333;
text-align:center;
color:#fff;
display: none;
}

/* Loading画像中央配置　*/
#splash_logo {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
width:40px;
}

.tofu {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("https://i.gyazo.com/532be196d01be59856259a4686e713ba.jpg");
}
