
<div class="container">
  <h2>このサイトについて</h2>

  
  <h1>プロにも負けない、美味しい麻婆豆腐をつくりたい</h1>
  <p>
    お気に入りの店で、毎週の如く麻婆豆腐を食べていました。<br>
    最高の味でした。<br>
    この味が生きている希望そのものでした。<br>
    ある時、お気に入りのお店まで車で6時間の場所への転居を余儀なくされました。<br>
    この状況では毎週食べに行けない。
  </p>
  
  <p>希望が・・・無くなりました。</p>
  
  <h3>いや、なくなっていない！自分でつくりたい！！</h3>
  
  <p>
    それからコツコツと美味しい麻婆豆腐を、あの味を求めて夜な夜な麻婆豆腐をつくっております。<br>
    でもなかなか納得のいくものをつくることは容易なものではありませんでした。
  </p>
  
  <p>そうだ。</p>
  <p>
    麻婆豆腐のファンサイトをつくり、麻婆豆腐ファンのみなさんの使用している材料やレシピの情報を集約できれば可能性が広がる！</p>
  <p>
    そんな、完璧に個人の趣味に特化したサイトを作成いたしました。<br>
    コツコツサイトの更新も致したいと思っております。
  </p>
  
  <p>麻婆豆腐を愛してやまない皆様、一緒に麻婆豆腐の高みを目指しませんか？</p>
  
  <p>投稿は簡単にできるようにいたしました。もちろん皆様がお持ちのスマホからでもできます。</p>

  <p>投稿していただけたら幸いです。</p>

  <p class="last">最後までお読みいただきありがとうございます。</p>
</div>